/* story-only CSS of patterns-recipes-sidemenu-expand--expand (copied 1:1 from the reference) */
.stories-main-side-menu {
  height: 100%;
  display: flex;
  background-color: #f8f9fa;
  position: absolute;
  left: 0;
  top: 0;
}
